body {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button,
input,
textarea {
  font: inherit;
  background-color: inherit;
  color: inherit;
  border: none;
}

button,
input[type="date"] {
  cursor: pointer;
}

fieldset {
  border: none;
}

legend {
  float: left;
}

fieldset :nth-child(2) {
  clear: left;
}
